    <div class = "jumbotron">

        <div class = "container">
            {{title}}
            <input type="text" ng-model="firstname" name="firstname">
            <input type="text" ng-model="lastname" name="firstname">
            <input type="checkbox" ng-model="show" name="show">
            <h1>{{firstname}}</h1>
            <p ng-bind="lastname"></p>

            <p ng-hide="show">
                <a class = "btn btn-primary btn-lg" role = "button">Learn more</a>
            </p>
        </div>

    </div>
    <h2>Feature Movie</h2>
    <div class="row">
        <input type="text" name="search" ng-model="search">
        <div ng-repeat=" item in movieList | filter:search" class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <!--<img ng-src="{{item.url}}" alt="">-->
                <div class="caption">
                    <h3>{{item.name}}</h3>
                    <p>{{item.rating}}</p>
                    <p>Category <%= item.categoryId.Name%></p>
                    <p><%= item.Description%></p>
                    <p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
                </div>
            </div>
        </div>
    </div>
