<!-- The chat view -->
<section class="container">
    <div class="page-header">
        <h1>Live support</h1>
    </div>
    <div class="form-group">
        <label for="Username" class="col-sm-2 control-label">Nick Name</label>
        <div class="col-sm-6">
            <input type="text" id="Username" name="Username" class="form-control1" ng-model="Username" placeholder="Enter your name">
        </div>
    </div>

    <!-- The message form -->
    <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
        <fieldset class="row">
            <div class="input-group">
                <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
                <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
        </span>
            </div>
        </fieldset>
    </form>

    <ul class="list-unstyled">
        <!-- List all messages -->
        <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">
            <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
            <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
            <div class="pull-left chat-message-details">
                <strong ng-bind="message.username"></strong>
                <br>
                <span ng-bind="message.text"></span>
            </div>
        </li>
    </ul>
</section>
<div class="team-bottom">
    <div class="container">
        <h3>Are You Ready For Deals? Flat <span>30% Offer </span>on Mobiles</h3>
        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
            voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
            repellat.</p>
        <a href="products.html">Shop Now</a>
    </div>
</div>